/*
TODO:
[x]filme em alta
[x]lançamentos
*/
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    color: #ff6600;
}

body {

    font-family: Arial,
        sans-serif;
    margin: 5;
    padding: 5;
    background-color: rgb(0, 0, 0);
    font-style: italic;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

p,
label,
h1 {
    color: orange;
}

.aligned-table movie:first-child {
    width: 150px;
    white-space: nowrap;
}

.aligned-table select {
    vertical-align: middle;
}

.aligned-table select {
    padding: 10px;
    border: 1px solid #fff;
}

.movie {
    display: inline-block;
    max-width: 170px;
    margin: 5px;
    margin-left: 25px;
    width: 150px;
    padding: 5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.movie img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.movie img:hover {
    transform: rotateY(360deg);
}

footer {
    text-align: bottom;
    padding: 20px;
}

.footer {
    background-color: #ffffff;
    color: #fff;
    text-align: right;
    padding: 10px;
}

.container99 {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: rgb(19, 22, 22);
}

.container99:hover .rool {
    animation-play-state: running;
}

.shake-animation {
    animation: shake 1s infinite;
    color: #ffffff;
    font-size: x-large;
    text-align: center;
    -webkit-animation: shake 1s linear infinite;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(5px);
    }
}

.rool {
    display: flex;
    animation: slideLeft 50s linear infinite paused;
    -webkit-animation: slideLeft 45s linear infinite paused;    
}

.rool img {
    width: 200px;
    height: auto;
    padding: 2px;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-300%);
    }
}

.container {
    position: relative;
    width: 100%;
    height: 400px;
}

.container p{
    color: #ffffff;
}
.imgtitle {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.title,
.ideogram,
.titleoriginal {
    position: absolute;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    font-style: italic;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.ideogram {
    left: 50%;
    top: 50%;
    font-size: 100px;
}

.title {
    right: 45%;
    top: 32%;
    font-size: x-large;
    text-decoration: underline;
}

.titleoriginal {
    left: 65%;
    bottom: 12%;
    font-size: x-large;
    font-style: oblique;
    text-decoration: underline;
}

.container2 {
    width: 100%;
    height: auto;
    padding: 15px 2px 0px;
    background-color: gray;
    overflow: hidden;
    display: flex;
    position: relative;
}

.container2 p {
    color: #000000;
}
.text {
    display: 1;
}

.synopsis {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.textsynopsis {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    line-height: 2.0;
    bottom: 25%;
    padding: 20px;
}

.imgsynopsis {
    height: auto;
    width: 400px;
    right: 0%;
    padding: 0 5px 0 0;
}

.container3 {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: rgb(19, 22, 22);
}



.container4 {
    background-color: bisque;
    padding: 15px;
    border: 1px solid #000000;
}

input[type="text"] {
    width: 100px;
    height: 10px;
    padding: 15px;
    margin-bottom: 25px;
    border: 1px solid #000000;
}

textarea {
    width: 300px;
    height: auto;
    margin-bottom: 25px;
    border: 1px solid #000000;
}

.comments-space {
    padding: 0px 150px;
    display: block;
    margin: 5px;
}

button [type="submit"] {
    background-color: aqua;
    color: #fff;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ff6600;
}

.title-comments {
    padding-left: 50px;
}

.comments {
    font-size: 12px;
    background-color: rgb(19, 22, 22);

}

.comments ul {
    list-style-type: none;
    padding: 15px;
    font-size: 1rem;
}

.comments li {
    border: 1px solid #000000;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0, 0, 0.5;
}

strong {
    font-weight: bold;
}