body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('https://images8.alphacoders.com/508/508520.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-attachment: fixed;
}
.container {
    background-color: rgba(159, 255, 223, 0.678);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}
.content{
    display: flex;
    align-items: center;
}

.image{
    flex: 1;
    padding: 10px;
}

.description{
    flex: 1;
    padding: 10px;
}
.container2 {
    background-color: rgba(255, 255, 255, 0.192);
    border-radius: 15px;
    margin: 20px;
    overflow: hidden;
    align-items: center;
}
.container2-contant{
    display: flex;
    align-items: center;
}
.sinopse{
    float: left;
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-right{
    float: right;
    width: 40%;
    text-align: center;
    padding: 20px;
}

h1, h5 {
    display: inline;
}

h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

p {
    text-align: left;
}

footer {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-left img,
.footer-right img {
    max-width: 219px;
}

.footer-text {
    text-align: center;
}
