head {
    background-color: black;
}

.container {
    position: relative;
    width: 1370px;
    height: 400px;
    overflow: hidden;
}

.imgtitle {
    width: 1370px;
    height: 400px;
}

.site,
.title,
.ideogram,
.titleoriginal {
    position: absolute;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    font-style: italic;
}

.site {
    text-align: right;
    top: 10%;
    left: 8%;
    font-size: 30px;
}

.ideogram {
    left: 50%;
    top: 50%;
    font-size: 100px;
}

.title {
    right: 45%;
    top: 32%;
    font-size: x-large;
}

.titleoriginal {
    left: 65%;
    bottom: 12%;
    font-size: x-large;
    font-style: oblique;
}

.container2 {
    position: relative;
    width: 1370px;
    height: auto;
    overflow: hidden;
    padding: 15px;
    background-color: rgb(19, 22, 22);
}

.rool {
    display: flex;
    animation: slideLeft 50s linear infinite;
    -webkit-animation: slideLeft 45s linear infinite paused;
}

.rool img {
    width: 400px;
    height: auto;

}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-300%);
    }
}

.container2:hover .rool {
    animation-play-state: running;
}